h2 {
  transform: translateX(-50%);
  opacity: 0;
  transition: .8s;
}

h2.active {
  transform: translateX(0);
  opacity: 1;
}

div {
  width: 100%;
  height: 100vh;
  position: relative;
}

.image1 {
    background: DSC00147.jpg no-repeat;
  background-attachment: fixed;
}

.image2 {
    background: url(https://cdn.pixabay.com/photo/2022/08/23/06/55/village-7405160_960_720.jpg) no-repeat;
  background-attachment: fixed;
}

.image3 {
    background: url(
https://cdn.pixabay.com/photo/2022/08/30/15/33/nature-7421337_960_720.jpg) no-repeat;
  background-attachment: fixed;
}

 /* ----------- */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: #1e3932;
  font-size: .9rem;
}

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");

* {
  font-family: Pretendard;
  padding: 0;
  margin: 0;
}
